body
	background-color: #F5F8FA
	margin: 0
p
	margin: 0
.hidden
	display: none

.inputError, .success
	width: 250px
	background-color: #fff
	color: red
	border: 1px solid red
	padding: 5px
	margin-bottom: 10px
	border-radius: 3px

.modalOverlay
	width: 200%
	height: 200%
	position: absolute
	background-color: #000000
	opacity: .5
	top: 0
	left: 0

.errorModal, .successModal
	position: absolute
	padding: 20px
	background-color: #fff
	border: 1px solid red
	border-radius: 3px
	width: 300px
	height: 50px
	top: calc(50% - 25px)
	left: calc(50% - 150px)
	color: red
	text-align: center

.successModal, .success
	color: green
	border-color: green