<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Todo
    body
        header.page-header
            p.logo TODO
            p.username #{firstname} #{lastname}
            input(type="color", name="")
        .content