<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Login
    body
        .form-wrapper
            input.form-input(type="email", placeholder="Email")
            input.form-input(type="password", placeholder="Password")
            button.form-btn Login