<div class="form">
    <form>
        <div class="form-cont">
            <input type="text" class="form-cont-input" name="email" id="fieldLogin" placeholder="Email">
        </div>

        <div class="form-cont">
           <input type="password" class="form-cont-input" name="password" id="fieldPass" placeholder="Password"> 
        </div>
        <button class="form-btn" name="loginBtn" type="button">Login</button>
        <a href="#" class="form-a" name="toRegister">Registration</a>
    </form>
</div>