<div class="form">
    <form>
        <div class="form-cont">
            <input class="form-cont-input" type="text" name="username" id="fieldLogin" placeholder="Username">
            <p class="form-cont-p">*</p>
        </div>
        <div class="form-cont">
            <input class="form-cont-input" type="text" name="email" id="fieldEmail" placeholder="Email">
            <p class="form-cont-p">*</p>
        </div>
        <div class="form-cont">
            <input class="form-cont-input" type="password" name="password" id="fieldPass" placeholder="Password">
            <p class="form-cont-p">*</p>
        </div>
        <div class="form-cont">
            <input class="form-cont-input" type="password" name="confirmPass" id="fieldConfPass" placeholder="Confirm Password">
            <p class="form-cont-p">*</p>
        </div>
        
        <button class="form-btn" name="registerButton" type="button">Register</button>
        <a href="#" class="form-a" name="toLogin">Login</a>
    </form>
</div>
